<ion-content>
    <div class="report-detail-container">
        <div class="report-detail-card">
            <div class="report-detail-icon">
                <ion-icon name="cafe"></ion-icon>
            </div>
            <div class="report-detail-title">
                <p class="detail-title-name">服务方案</p>
                <p class="detail-title-description">选择易创，让创业更容易！</p>
            </div>
        </div>

        <div class="report-detail-card">
            <div class="report-detail-card-title">
                已购套餐：
            </div>
            <div class="report-service report-detail-card-content">
                <div class="service-view">
                    <div class="service-container">
                        <h3>{{bestPlan.name}}</h3>
                        <div class="service-range">
                            <h4>服务范围：</h4>
                            <div class="package-service-items">
                                <p *ngFor="let range of bestPlan.ranges">{{range}}</p>
                            </div>
                        </div>
                        <div class="service-content">
                            <h4>服务内容：</h4>
                            <div class="package-service-items">
                                <p *ngFor="let content of bestPlan.contents">{{content}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="package-worth">
                        <span class="package-price-label">服务价值：</span><span
                            class="package-price">￥{{bestPlan['worth']}}</span>
                    </div>
                    <div class="package-worth">
                        <span class="package-price-label">套餐价：</span><span
                            class="package-price">￥{{bestPlan['sell'] / 12}}
                        /月</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="report-detail-card report-detail-card-others">
            <div class="report-detail-card-title ">
                其他推荐服务：
            </div>
            <div class="report-service report-detail-card-content report-detail-card-list">
                <h5>知识产权申请</h5>
                <p>发明专利 <span>7000</span>元服务费+官费</p>
                <p>实用新型 <span>3000</span>元服务费+官费</p>
                <p>外观专利 <span>1500</span>元服务费+官费</p>
                <p>境内商标 <span>800</span>元服务费+官费</p>
                <p>商标转让 <span>800</span>元服务费+官费</p>
                <p>计算机软件著作权 <span>800</span>元服务费+官费</p>
            </div>
            <div class="report-service report-detail-card-content report-detail-card-list">
                <h5>人力资源服务</h5>
                <span class="report-service-label">人事代理服务：</span>
                <p>代发薪资 <span>60</span>元/人/月/次</p>
                <p>代缴社保<span>19.9</span>元/人/月/次</p>
                <span class="report-service-label">劳务外包服务：</span>
                <p>社保筹划 <span>60</span>元/人/月/次起</p>
            </div>
            <div class="report-service report-detail-card-content">
                <h5>钉钉专家上门部署 <span style="color: red">免费</span></h5>
            </div>
        </div>

    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button href="tel:15906580526">
            <ion-icon name="call"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
