<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="registration_scheme">
            <ion-icon name="business"></ion-icon>
            <ion-label>注册方案</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="policy_match">
            <ion-icon name="filing"></ion-icon>
            <ion-label>政策匹配</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="financing_plan">
            <ion-icon name="list-box"></ion-icon>
            <ion-label>融资计划</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="fiscalTax_plan">
            <ion-icon name="stats"></ion-icon>
            <ion-label>财税计划</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="service">
            <ion-icon name="cafe"></ion-icon>
            <ion-label>服务方案</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
