<ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="notice">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>通知</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="repo-content">
            <ion-icon name="paper"></ion-icon>
            <ion-label>客户报告</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="service">
            <ion-icon name="cafe"></ion-icon>
            <ion-label>服务方案</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
