.action-plan-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #e9f0f5;
}

.timeline-container {
  width: 90%;
  margin: 12px auto;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.action-plan-timeline {
  position: relative;
  margin-bottom: 2em;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
  }
}

.action-plan-timeline-block {
  position: relative;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.action-plan-timeline-circle {
  position: absolute;
  top: 19px;
  left: 15px;
  width: 10px;
  height: 10px;

  ion-icon{
    display: none;
    color: #67C23A;
    position: absolute;
    left: -3px;
    top: -2px;
    background: #fff;
    }
}

.itemCompleted{
  ion-icon{
    display: block;
    }
}

.itemNormal{
  background: #a3bed3;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

  ion-icon{
    display: none;
  }
}

.action-plan-timeline-content {
  position: relative;
  margin-left: 45px;
  background: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
  }
}


.timeline-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:nth-child(2) {
    margin-bottom: 1em;
  }
}

.action-plan-item {
  font-size: 14px;
  color: #303e49;
}

.action-plan-item-left {
  width: 64%;
}

.action-plan-item-right {
  width: 36%;
  font-size: 12px !important;
  text-align: right;
}

.action-plan-item-tip {
  color: #a8b5be !important;
}

.action-plan-date, .action-plan-executive {
  color: #f5a623 !important;
}
