<ion-header mode="ios">
    <ion-segment class="report-tab-btns" (ionChange)="segmentChanged()" mode="md"
                 value="注册方案"
                 #contentSegment>
        <ion-segment-button class="report-tab-btn" mode="md" value="注册方案">
            <ion-label>注册方案</ion-label>
        </ion-segment-button>
        <ion-segment-button class="report-tab-btn" mode="md" value="政策匹配">
            <ion-label>政策匹配</ion-label>
        </ion-segment-button>
        <ion-segment-button class="report-tab-btn" mode="md" value="融资计划">
            <ion-label>融资计划</ion-label>
        </ion-segment-button>
        <ion-segment-button class="report-tab-btn" mode="md" value="财税计划">
            <ion-label>财税计划</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content [scrollY]="false">
    <ion-slides pager="false"
                class="report-slides"
                (ionSlideWillChange)="slideChanged()"
                [options]="slideOpts"
                #contentSlides>
        <ion-slide class="report-slide">
            <app-repo-tab [tabId]="0"></app-repo-tab>
        </ion-slide>
        <ion-slide class="report-slide">
            <app-repo-tab [tabId]="1"></app-repo-tab>
        </ion-slide>
        <ion-slide class="report-slide">
            <app-repo-tab [tabId]="2"></app-repo-tab>
        </ion-slide>
        <ion-slide class="report-slide">
            <app-repo-tab [tabId]="3"></app-repo-tab>
        </ion-slide>
    </ion-slides>
</ion-content>
