.report-tab-btns {
  background: #fff;
}

.report-tab-btn {

}

.report-slides {
  display: flex;
  flex-direction: row;

  .report-slide {
    text-align: unset !important;
  }
}

@media screen and (max-width: 320px) {
  .report-tab-btns {
    .report-tab-btn {
      max-width: 5.75em;
      min-width: 5.75em;
    }
  }
}
