.report-tab-btns {
  background: #fff;
}

.report-tab-btn {

}

.report-slides {
  display: flex;
  flex-direction: row;

  .report-slide {
    text-align: unset !important;
  }
}


