$normal-color: #666;
$warning-color: #f25454;

.fixed-bar-margin{
  margin-top: 12em;
}

.notice-consultant-info{
  transition: all .3s;
}

.notice-head-img {
  width: 4em;
  height: 4em;
  margin: .5em;
  transition: all .3s;
}

.notice-step {
  padding: .5em 2em;
  transition: all .3s;
}

.notice-fixed-bar{
  box-shadow: none;
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 100%;
  margin: 0;
  box-shadow: 0px 1px 3px rgba(2, 8, 20, 0.06), 0px 1px 2px rgba(2, 8, 20, 0.04);

  .notice-consultant-info{
    --border-color:#fff;
    width: 100%;
  }

  .notice-head-img {
    width: 3em;
    height: 3em;
    margin: .3em .5em;
  }

  .notice-step {
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}

.notice-color-normal {
  color: $normal-color;

  a {
    text-decoration: none;

    ion-icon {
      vertical-align: sub;
      font-size: 16px;
    }
  }
}

.notice-color-waring {
  color: $warning-color;
}

.notice-card-title {
  text-align: center;
  color: #f25454;
}

.notice-card-nextLine {
  text-indent: 2em;
}
