<ion-content *ngIf="finished"
             scroll-events="true"
             (ionScroll)='swipe($event)'>

    <ion-card mode="ios" class="notice-header" slot="fixed" [ngClass]="scrollDir === 'down' ? 'notice-fixed-bar' : ''">
        <ion-item *ngIf="consultant" class="notice-consultant-info" href="tel:{{consultant.tel}}" mode="md">
            <ion-avatar class="notice-head-img">
                <img [src]="consultant.headImg">
            </ion-avatar>
            <ion-card-content class="notice-info-card notice-color-normal">
                <p>您的专属顾问：{{consultant.name}}</p>
                <p>联系手机：<a>
                    <ion-icon name="call"></ion-icon>
                    {{consultant.tel}}
                </a></p>
            </ion-card-content>
        </ion-item>

        <ion-card-content class="notice-step" *ngIf="noticeInfo">
            <p>激动！您的营业执照已下发！</p>
            <p>下发时间：2019.02.21</p>
            <p>比预估时间提前：
                <span class="notice-color-waring">2</span> 天
                <span class="notice-color-waring">3</span> 小时
                <span class="notice-color-waring">26</span> 分
            </p>
            <p><a (click)="openImg()">点击查看您的电子营业执照 </a></p>
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="notice-card"
              [ngClass]="scrollDir === 'down' ? 'fixed-bar-margin' : 'fixed-card-margin'">
        <ion-card-header mode="md">
            <ion-card-title class="notice-card-title" mode="md">下一步：银行开户、税务备案</ion-card-title>
        </ion-card-header>

        <ion-card-content mode="md">
            <p>事项提醒：</p>
            <p class="notice-card-nextLine"> 1.银行开户需要3个工作日，请告知您的空闲时间，方便预约您到场办理。</p>
            <p class="notice-card-nextLine">2.银行网银开通，需要提供2人身份证原件，请提前准备。</p>
            <p class="notice-card-nextLine">3.税务备案完成方可开具发票，请提前做好销售预估，方便申请发票额度。</p><br>
            <p class="notice-card-nextLine">已预约银行：招商银行会展中心支行，客户经理：无，联系方式：无</p>

        </ion-card-content>
    </ion-card>

</ion-content>
