$normal-color: #666;
$warning-color: #f25454;
$transition: all .3s;
$step-transition: all .4s;

$consultant-font-size: 14px;
$font-size-zoom: .92em;
$fixed-bar-margin: 10em;
$fixed-card-margin: 14.5em;

.notice-scroll-view {
  -webkit-overflow-scrolling: touch;
}

.notice-header {
  position: relative;
  z-index: 99;
  background: #fff;
  margin-top: 1em;
  margin-bottom: 0;
  transition: $transition;
}

.fixed-card-margin {
  margin-top: $fixed-card-margin;
}

.fixed-bar-margin {
  margin-top: $fixed-bar-margin;
}


.notice-consultant-info {
  transition: $transition;

  p {
    font-size: $consultant-font-size;
  }
}

.notice-head-img {
  width: 65px;
  height: 65px;
  margin: .5em;
}

.notice-step {
  padding: .5em 2em;
  transition: $step-transition;
}

.notice-fixed-bar {
  margin: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 13px rgba(2, 8, 20, 0.06), 0 1px 12px rgba(2, 8, 20, 0.04);

  .notice-consultant-info {
    --border-color: #fff;
    width: 100%;
    transition: $transition;

    p {
      transition: $transition;
      font-size: $font-size-zoom;
    }
  }

  .notice-head-img {
    width: 51px;
    height: 51px;
    margin: .3em .5em;
    transition: $transition;
  }

  .notice-card {
    position: relative;
    z-index: 1;
    transition: $transition;
  }

  .notice-step {
    max-height: 0;
    padding: 0 2em;
    color: #fff;
    overflow: hidden;
  }
}

.notice-color-normal {
  color: $normal-color;

  a {
    text-decoration: none;

    ion-icon {
      vertical-align: sub;
      font-size: 16px;
    }
  }
}

.notice-color-waring {
  color: $warning-color;
}

.notice-card-title {
  text-align: center;
  color: #f25454;
}

.notice-card-content {
  .notice-card-text {
    font-family: auto;
    font-size: 12px;
    margin: 1em 0;
    border-bottom:1px solid rgba(0, 0, 0, .1);
  }
}

.notice-card-nextLine {
  text-indent: 1.9em;
}

@media screen and (max-width: 320px) {
  $consultant-font-size: .7em;
  $font-size-zoom: .8em;

  .notice-card-title {
    font-size: 1.3em;
  }

  .notice-info-card {
    padding: 0;
  }

  .notice-fixed-bar {
    .notice-consultant-info p {
      font-size: $font-size-zoom;
    }

    .notice-step {
      padding: 0 1em;
    }
  }

  .notice-step {
    padding: .5em 1em;

    p {
      font-size: 13px;
    }
  }

  .notice-consultant-info p {
    font-size: $consultant-font-size;
  }
}
