<ion-content
        scroll-events="true"
        class="notice-scroll-view"
        (ionScroll)='swipe($event)'>

    <ion-card mode="ios" class="notice-header">
        <ion-item *ngIf="consultant" class="notice-consultant-info" href="tel:{{consultant.tel}}" mode="md">
            <ion-avatar class="notice-head-img">
                <img [src]="consultant.headImg">
            </ion-avatar>
            <ion-card-content style="padding:1em 0" class="notice-info-card notice-color-normal">
                <p>尊敬的顾总：您好！</p>
                <!--<p>我们已完成了本季度创业服务工作</p>-->
                <!--<p>如有疑问，欢迎随时与我联系</p>-->
                <p>您的专属顾问：{{consultant.name}}</p>
                <p>联系手机：<a>
                    <ion-icon name="call"></ion-icon>
                    {{consultant.tel}}
                </a></p>
            </ion-card-content>
        </ion-item>

        <ion-card-content class="notice-step" *ngIf="noticeInfo">
            <div style="display: flex">
                <p>已完成：</p>
                <div style="display: flex;flex-flow: column">
                    <p *ngFor="let item of noticeInfo.finished"><span>・</span>{{item}}</p>
                </div>
            </div>
            <div style="display: flex">
                <p class="notice-color-waring">正实施：</p>
                <div style="display: flex;flex-flow: column">
                    <p *ngFor="let item of noticeInfo.Upcoming"><span>・</span>{{item}}</p>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="notice-card">
        <!--<ion-card-header mode="md">-->
        <!--<ion-card-title class="notice-card-title" mode="md">本月财务报告</ion-card-title>-->
        <!--</ion-card-header>-->
        <ion-card-content mode="md" class="notice-card-content">
            <!--<p>尊敬的顾总：</p>-->
            <!--<p class="">我们顺利完成了本季度财务报税工作，汇报如下：</p>-->
            <p>【本月财务报告】</p>
            <pre class="notice-card-text">  本年收入:0     本年支出:92835.3   本年利润:<span style="color: red">-92835.3</span></pre>
            <pre class="notice-card-text">  所得税:0        个所税:355.73         增值税留抵:7065.9</pre>
            <pre class="notice-card-text">  研发项目:6     研发费用:53391.4   研发收入:0</pre>
            <br>
        </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="notice-card">
        <ion-card-content mode="md">
            <p>【最新通知】</p>
            <p class="notice-card-nextLine">您的进出口权证事项已全部办结！ </p>
            <p class="notice-card-nextLine">办结时间：2019.04.28</p>
            <p class="notice-card-nextLine">本项服务您需付费：<font color="red">1500元</font></p>
            <p class="notice-card-nextLine" style="color: #3880ff"> 支付方式：</p>
            <p class="notice-card-nextLine" style="color: #3880ff">1.银行汇款</p>
            <p class="notice-card-nextLine" style="color: #3880ff">户名：宁波易创创业服务有限公司</p>
            <p class="notice-card-nextLine" style="color: #3880ff"> 卡号：6966 05866</p>
            <p class="notice-card-nextLine" style="color: #3880ff">开户行：中国民生银行宁波分行营业部</p>
            <p class="notice-card-nextLine" style="color: #3880ff">2.长按扫描图中二维码支付</p>
            <img style="width: 150px;
    margin: 0 auto;" src="../../assets/img/payQRCode.png">
        </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="notice-card">
        <ion-card-content mode="md">
            <p>【易创特别提醒】</p>
            <p class="notice-card-nextLine">社保缴费基数调整！2019年度本市社保缴费基数申报工作已经开始，申报时间：2019年5月
                5日-25日。新缴费基数下限3539元，上限17694元。企业单位需根据参保职工本人上年度（2018年1月至12月全部工资性收入）
                的月平均工资水平确定2019年度月缴费基数，请在25号之前确定基数据实申报。</p><br>
        </ion-card-content>
    </ion-card>

</ion-content>
