<div class="report-fixed-height">
    <div class="report-detail-container">
        <div class="report-detail-card">
            <div class="report-detail-icon">
                <ion-icon [name]="info.icon"></ion-icon>
            </div>
            <div class="report-detail-title">
                <p class="detail-title-name">{{info.name}}</p>
                <p class="detail-title-description">{{info.description}}</p>
            </div>
        </div>
        <div class="report-detail-card" style="padding-bottom: 1em;">
            <div class="report-detail-card-title">
                {{info.statusLabel}}：
            </div>
            <div class="report-detail-card-content">
                <p *ngFor="let status of info.status">{{status}}</p>
            </div>
        </div>
        <div class="report-detail-card">
            <div class="report-detail-card-title">
                创业顾问建议：
            </div>
            <div class="report-detail-card-content">
                <p class="report-detail-suggest" [innerHTML]="info.suggest"></p>
                <p class="content-label" *ngIf="info.weAdvice.label">{{info.weAdvice.label}}</p>
                <ol class="content-list" *ngIf="info.weAdvice.contents"
                    [ngClass]="info.weAdvice.label?'content-with-label':''">
                    <li *ngFor="let advice of info.weAdvice.contents">{{advice}}</li>
                </ol>
                <ol class="content-list" *ngIf="info.weAdvice.wordValues"
                    [ngClass]="info.weAdvice.label?'content-with-label':''">
                    <li *ngFor="let wv of info.weAdvice.wordValues">{{wv.word}}
                        <span class="content-list-li-right">{{wv.value}}</span>
                    </li>
                </ol>
                <div *ngIf="info.weAdvice.declare" style="border-top: 1px dashed #333;
    margin-top: 15px;">
                    <p class="report-detail-suggest">近期申报：</p>
                    <div *ngFor="let item of info.weAdvice.declare" style="margin-bottom: 10px">
                        <p style="margin: 0;" class="report-detail-suggest">{{item['title']}} </p>
                        <p style="margin: 0;" class="report-detail-suggest"><a> 查看申报通知 </a>
                            <span> 申报截止日：{{item['date']}}</span>
                        </p>
                    </div>
                </div>
                <p style="text-indent:2em;padding: 0;margin: 1em 0 1em 0" class="content-list"
                   *ngIf="info.weAdvice.others">{{info.weAdvice.others}}</p>
            </div>
        </div>
        <div class="report-detail-card">
            <div class="report-detail-card-title">
                行动规划</div>
            <div class="report-detail-card-content report-detail-action-plan">
                <div class="action-plan-timeline timeline-container">
                    <div class="action-plan-timeline-block" *ngFor="let scheduleItem of schedule['schedule']">
                        <div class="action-plan-timeline-circle"
                             [ngClass]="scheduleItem.complete === 'true'?'itemCompleted':'itemNormal'">
                            <ion-icon name="checkmark-circle"></ion-icon>
                        </div>
                        <div class="action-plan-timeline-content">
                            <div class="timeline-content-row">
                                <p class="action-plan-item action-plan-item-left">{{scheduleItem.content}}</p>
                                <p class="action-plan-item action-plan-item-right action-plan-executive"
                                >
                                    {{scheduleItem.executive}}</p>
                            </div>
                            <div class="timeline-content-row ">
                                <p class="action-plan-item-left action-plan-item-tip"
                                   [ngClass]="{'tipImport':scheduleItem.import,'tipAlready':scheduleItem.already,'action-plan-item-tip':!scheduleItem.import&&!scheduleItem.already}">
                                    {{scheduleItem.tip}}</p>
                                <p class="action-plan-date action-plan-item-right">{{scheduleItem.date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

